@model crud_pessoa.Models.Evento

<div class="form-horizontal">
    <form action="Create" method="post">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Nome</label>
                    <input class="form-control" type="text" name="name">
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label>Endereço</label>
                    <input class="form-control" type="text" name="address">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Data</label>
                        <input class="form-control" type="date" name="date">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Número Limite</label>
                        <input class="form-control" type="number" name="numeroAproximado">
                    </div>
                </div>
            </div>
        </div>  
        <button class="btn btn-primary">Enviar</button>
    </form>
</div>